body{
    background-color:black;
}


h1, p{
    padding-top:100px;
    align-items:center;
    text-align:center;
    color:white;
}



.ctus {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:gray;
}
